.control-panel {
    display: flex;
    align-items: center;
    justify-content: center;

    &__search {
        min-width: 300px;
    }
}

@media screen and(max-width: 1024px) {
    .control-panel {
        flex-direction: column;
    }
}

@media screen and(max-width: 480px) {
    .control-panel {
        &__buttons {
            display: flex;
            flex-direction: column;
        }
    }
}
